<html>
    <head>
        <%- include('header.ejs') %>
    </head>
    <body>
        <div class='loginContainer'>
            <form method='POST' action=''>
                <label>Username</label>
                <input type='text' name='username' required />
                <label>Password</label>
                <input type='password' name='password' required />
                <button>Submit</button>
            </form>
        </div>
    </body>
</html>